.App {
  text-align: center;
}

.title{
  font-variant: small-caps;
  font-weight: bold;
  font-size: 30pt;
  letter-spacing: 0.1em;
  color: #f25240;
}

.bio{
    padding: 1%;
    color: #015f4e;
    font-size: 10pt;
}

.profession{
  font-variant: small-caps;
  font-size: 15pt;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #015f4e;
}

.image{
  align-self: center;
}

.profile{  
  background-color: #dbbc83;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 340px;
  margin-top: 20px;
  width: 50%;
  text-align: center;
  height: 100%;
  box-shadow: 0px 5px 10px 0px #e2dede; 
  border-radius: 10px;
}